.kaufman__triangle {
  background-image: url(./images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
  transform: rotate(360deg);
  transition: transform 20s linear 2s;
  animation: rotation 20s linear 2s infinite normal forwards running;
}